html, body, .app {
    height: 100%;
    font-family: 'Roboto';
}

body {
    padding: 0;
    margin: 0;
    background-color: #E7E9F3;
}

h1 {
    color: #B1B1B1;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 0px;
}

.input-container {
    display: flex;
    flex-direction: column;
    position: relative;
    .error-input {
        border: 1px solid #811717 !important;
    }
    label {
        color: #B1B1B1;
        font-weight: 500;
        font-size: 12px;
        margin-bottom: 6px;
        text-transform: uppercase;
    }
    input {
        padding: 6px;
        min-height: 24px;
        box-shadow: 0px 0px 5px #eaeaea;
        border-radius: 4px;
        max-width: 300px;
        border: 1px solid #D4D9E3;
        outline: none;
        transition: border .3s;
        &:focus {
            border: 1px solid #394783;
        }
    }
    .error-container {
        color: rgb(129, 23, 23);
        color: #811717;
        font-size: 12px;
        position: absolute;
        bottom: -18px;
    }
}
